@media (max-width:1024px) {
    aside {
        max-width: 200px;
        width: 100%;
        height: 100%
    }

    .followword {
        display: none;
    }

    .follower {
        margin-left: 20px;
    }

    .follower1 {
        margin-left: 20px;
    }

    .gopro {
        display: none;
    }

    .notifications {
        display: none;
    }

    .notification {
        display: none;
    }

    .pageoptions {
        display: none;
    }

    .filters {
        margin-left: 250px;
    }

    .middlepage {
        margin: 30px 70px;
    }

    .mid-loader {
        margin-left: 180px;
    }

    .directories {
        max-width: 150px;
    }
}

@media (max-width:480px) {
    h1 {
        display: none;
    }

    .follow {
        display: none;
    }

    aside {
        height: 50px;
        width: 50px;
        position: fixed;
    }

    .design {
        display: none;
    }

    .secondburger {
        display: block;
    }

    .burger {
        max-width: 15px;
    }

    .design {
        margin: 0;
    }

    .divbar1 {
        max-width: 5px;
        max-height: 5px;
        margin: 0;
    }

    .navigationoption {
        display: none;
    }

    nav {
        display: none;
    }
}